img {
    width: 300px;
}

.container{
    margin: 10px;
    display: flex;
}

.text {
    padding: 5px;
    margin-inline: 5px;
    display: flex;
    flex-direction: column;
}

#title:hover {
    text-decoration: underline;
    cursor: pointer;
}